<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="styles/global.css" />
    <link rel="stylesheet" href="styles/desktop3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inria Serif:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Prata:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto Serif:wght@900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Porter Sans Block:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quando:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="desktop-7">
      <div class="header">
        <h2 class="contact-us">Contact us</h2>
      </div>
      <main class="hero">
        <img
          class="retro-phone-flying"
          alt=""
          src="images/retro-phone-flying@2x.png"
        />

        <img class="hero-child" alt="" src="images/rectangle-18.svg" />

        <div class="retro-phone-flying-parent">
          <img
            class="retro-phone-flying1"
            alt=""
            src="images/retro-phone-flying-1@2x.png"
          />

          <div class="letter-exterior">
            <img
              class="letter-icon"
              loading="lazy"
              alt=""
              src="images/letter@2x.png"
            />

            <img class="exterior-icon" alt="" src="images/exterior@2x.png" />

            <img
              class="retro-phone-flying2"
              alt=""
              src="images/retro-phone-flying-2@2x.png"
            />

            <img
              class="phone-icon"
              loading="lazy"
              alt=""
              src="images/phone@2x.png"
            />
          </div>
        </div>
      </main>
      <div class="content1">
        <div class="contact-info">
          <div class="feel-free-to-contact-us-anytim-parent">
            <div class="feel-free-to-container">
              <p class="feel-free-to">Feel free to contact us anytime.</p>
              <p class="feel-free-to">
                We will get back to you as soon as we can.
              </p>
            </div>
            <div class="address-block">
              <div class="location">
                <div class="th-milestone-nh-container">
                  <p class="feel-free-to">67th Milestone, NH 48, Kapriwas,</p>
                  <p class="feel-free-to">Haryana 122413</p>
                </div>
                <div class="email-block">
                  <div class="shrutikeshri121gmailcom">
                    shrutikeshri121
                    <br />@gmail.com
                  </div>
                </div>
              </div>
            </div>
            <div class="spacing">
              <div class="div3">+91 9342035766</div>
            </div>
          </div>
        </div>
        <div class="form">
          <div class="name-fields">
            <div class="name-inputs">
              <input class="last-name" id="full-name" placeholder="Full Name" type="text" />
            </div>
          </div>
          <div class="email-field">
            <input class="e-mail" id="email" placeholder="E-mail" type="text" />
          </div>
          <textarea
            class="message-field"
            id="message"
            placeholder="Message"
            rows="9"
            cols="19"
          ></textarea>
          <button class="submit-button" onclick="validateForm()">
            <img
              class="submit-button-child"
              alt=""
              src="images/rectangle-23.svg"
            />
            <div class="submit">SUBMIT</div>
          </button>
        </div>
      </div>
    </div>


  </body>
</html>